body{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background: linear-gradient(rgb(202, 195, 195), #45aa7b);
}

h1{
    text-align: center;
}

img {
    background: #b5b5c5;
    width: 400px;
    height: 300px;
    display: block;
    margin: 10px auto;
    border: 0;
  }