h1{
    text-align: center;
    color: darkblue;
}

.cards section img:hover{
    cursor: pointer;
    box-shadow: 10px 20px 30px greenyellow;
    transform: scale(1.1) ;
}

/*Small Screen*/
@media only screen and (min-width: 300px) {
    body {
        font-family: Helvetica, Geneva, Tahoma, sans-serif;
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }
   
    .cards {
        display: flex;
        flex-flow: column;
    }

    .cards section {
        background-color: rgb(15, 177, 163);
        border: 4px double #000;
		border-radius: 15px;
        margin: .2rem;
        padding: .5rem;
        width: 70%
    }

    .cards section h2 {
        text-align: center;
        font-size: 20px;
        color: gold;
    }

    .cards section h2 p {
        font-size: 13px;
        color: #000;
    }

    .cards section img {
        width: 80%;
        max-width: 15rem;
        box-shadow: 10px 8px 10px rgba(14, 13, 13, 0.561);
    }

    footer{
        height: 80px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        font-size: 25px;
        background-color:slategrey;
    }
}

/*Medium Screen*/
@media only screen and (min-width: 560px) {
    .cards {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem;
    }

    .cards section {
        width: 40%;
    }
}

/*Large Screen*/
@media only screen and (min-width: 1028px) {
    .cards section {
        width: 22%;  
    }
}